[Unit]
Description=Run the TGW local Luet coding Foreman

[Timer]
OnBootSec=15s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true
Unit=tgw-coding-local-foreman.service

[Install]
WantedBy=timers.target
